body {
    .container {
        .jumbotron {
            .border {
                div {
                    .btn-edit-profile {
                        width: 8rem;
                    }
                    .btn-edit-password {
                        width: 15rem;
                    }
                    .btn-logout {
                        width: 15rem;
                    }
                }
            }
        }
    }
}